#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the serch and list bar */
}
     
#searchList { 
  position: relative;
  float: left; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 360px;
  height:100%;
  margin: 60px auto 0;
  padding: 10px;
  padding-left: 20px;
  background: black;
  height: auto;
  opacity: .45; 
  color: white;
  font-family: Arial;
}

#searchList li:hover {
  font-weight: bold;
}

#searchList li {
  padding-bottom: 5px;
}

#searchList p select {
  width: 300px;
  font-family: Verdana;
  padding-left: 30px;
  font-size: 16px;
}

#wikipedia-container {
  visibility:visible;
  position: relative;
  float: right; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 250px;
  height:100%;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background: black;
  height: auto;
  color: #FFFFFF;
  font-family: Arial;
  background-color: #707070;
}


#wikipedia-container a {
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 5px;
}

#wikipedia-container a:hover {
  font-weight: bold;
  color: #FFFFFF;
}

#wikipedia-container h4 {
  padding-left: 30px;
}

#streetViewWindow{
  overflow-y: hidden;
}

label {
  visibility:hidden;
  width: 360px;
  margin-left: 100px;
  padding: 10px;
  padding-left: 20px;
  background: black;
  height: 10px;
  opacity: .45; 
  color: white;
  font-family: Arial;
  z-index: 1;
  }

@media only screen and (max-width: 750px) {
label {
  visibility:visible;
  cursor: pointer;
  }
#searchList-toggle {
  display: none; /* hide the checkbox */
}
#searchList {
  display: none;
}
#searchList-toggle:checked + #searchList {
  display: block;
}
  #searchList {
    height:300px; 
    width:30%; 
    opacity: 1; 
    background-color: #707070; 
    overflow:hidden; 
    overflow-y:scroll;
    min-width: 190px;
  }
  #searchList p select {
  width: 80%;
  }
}